* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
}

.menu {
  width: 15%;
  position: fixed;
  background-color: #2b4399;
  color: #fff;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu h2 {
  font-size: 16px;
  margin: 20px 0;
  text-align: center;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.menu ul li {
  margin: 0;
}

.menu ul li a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  margin-bottom: 20px;
}

.menu ul li a span {
  margin-left: 10px;
}

.menu ul li a:hover {
  background-color: #40444b;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.bottom-of-list a {
  margin-top: 150px;
}

.dashboard-container {
  width: 85%;
  margin-left: 290px;
}

.dashboard {
  flex-grow: 1;
}

.search {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 16px;
  flex-grow: 1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button[type="submit"] {
  background-color: #2b4399;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.question {
  padding: 20px;
  background-color: #fff;
  overflow: auto;
  text-align: center;
}

.question ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
}

.question li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-right: 10px;
  padding-top: 45px;
  list-style: none;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.247);
  transition: 0.3s;
  width: 300px;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  background-color: #fff;
  }
  
  .question li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .question li a {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 10px;
  color: #fff;
  background-color: #2b4399;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  }
  
  .question li a:hover {
  background-color: #2b4399e3;
  }
  
  .question li p {
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
  }
  
  .popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: none;
  outline: none;
  box-shadow: none;
  }
  
  /* Media queries for responsiveness */
  
  @media (max-width: 1024px) {
    .dashboard-container {
      width: 100%;
      margin-left: 0;
    }
    .menu {
      position: static;
      width: 100%;
      height: auto;
      border-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1.2em; /* Add this line and adjust the value to increase or decrease the menu size */
    }
  
    .menu ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .question li {
      width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 480px) {
    .question li {
      width: 100%;
      margin: 10px 0;
    }
  }
  