/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set background color */
body {
  background: linear-gradient(to top right, #009eb3, #1e4ea7);
}


/* Center container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: system-ui;
}

/* Style form container */
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 1000px;
  display: flex;
  flex-direction: row;
  height: 650px;
  align-items: center;
}

/* Style form heading */
.form-container h2 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #333;
  text-align: center;
}

/* Style form inputs */
.form-container label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

.form-container select,
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.form-container input[type="submit"] {
  background-color: #0099cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-container input[type="submit"]:hover {
  background-color: #0077b3;
  
}

.container-1{
    margin-left: 80px;
}
/* Select options*/
select[name="school"] option {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    padding: 8px;
    font-family: system-ui;
  }
  
/* Style image container */
.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 30px;
}

.image-container img {
  max-width: 50%;
  height: auto;
  float: left;
}

@media only screen and (max-width: 414px) { /* change 414px to the width at which you want the image to be hidden */
  .image-container{
    display: none;
  }
}